body {
  background-color: #f4f6f9;
}

.container {
  max-width: 500px;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}